<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Customer List</h2>
    </div>
    <div class="col-6">
        <a asp-action="Upsert" asp-controller="Customers" class="btn btn-info form-control text-white" style="width: 50%;
        float: right">
            Add new customer
        </a>

    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Email Id</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th></th>
                </tr>
            </thead>

        </table>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/customerList.js"></script>
}